.hero {
    position: relative;
    padding-top: 62px;
    padding-bottom: 40px;
    @media (max-width: $md4+px)  {
        padding-top: 40px;
    }
    &__container {
        display: flex;
        
        @media (max-width: $md1+px)  {
            flex-direction: column; 
            row-gap: 30px;
        }
        &::before, &::after {
            content: ''; 
            position: absolute;
            background-color: $blueColor;
            height: 150%;
            transform-origin: left bottom;
            box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
            width: 200vw;
            border-radius: 50px;
            bottom: 0;
            @media (max-width: $md1+px)  {
                opacity: 0.8;
            }
        }
        &::before {
            left: calc(50% + 30px);
	        transform: skewX(-20deg);
        }
        &::after {
            transform: skewX(31deg);
            left: calc(50% + 444px);
        }
        
    }

    &__content {
        flex: 0 1 50%;
    }

    &__images {
        flex: 0 1 50%;
    }
}

.content-hero {
    position: relative;
    display: grid;
    align-content: start;
    gap: 30px;
    z-index: 10;
    @media (min-width: $md1+px)  {
        padding-right: 20px;
    }
    @media (min-width: $md4+px)  {
        justify-items: start;
    }
    &__title {
        font-weight: 800;
        font-size: 76px;
        line-height: 117.105263%; /* 89/76 */
        letter-spacing: -4px;
        color: #181e4b;
        @media (max-width: $md2+px)  {
            font-size: 55px;
        }
        @media (max-width: $md4+px)  {
            font-size: 42px;
        }
        a {
            color: $blueColor;
            text-decoration: underline;
            text-shadow: 0 0 8px #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__text {
        line-height: 187.5%; /* 30/16 */
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__btn {
        position: relative;
        top: 0px;
        border-radius: 10px;
        box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.25);
        background-color: $blueColor;
        padding: 18px 64px;
        font-weight: 700;
        line-height: 156.25%; /* 25/16 */
        text-align: center;
        color: #fff;
        transition: all 0.3s;
        @media (max-width: $md4+px)  {
            width: 100%;
        }
        &:hover {
            top: 3px;
            box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.5);
        
        }
    }
}

.images-hero {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 27px;
    @media (max-width: $md1+px)  {
        align-self: center;
    }
    &__item {
        
    }

    &__item--01 {
        grid-row: span 2;
        align-self: end;
        padding-bottom: 12px;
    }

    &__image {
        min-width: 100%;
        border-radius: 10px;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
    }

    &__item--02 {
    }

    &__item--03 {
        align-self: center;
        justify-self: end;
        grid-row: span 2;
        padding-bottom: 10px;
    }

    &__item--04 {
        
        align-self: end;
        justify-self: end;
    }
}
