// Подключение миксины =================================================================================================
@import 'base/mixins';
// Подключение миксины =================================================================================================
	
// Подключение шрифтов =================================================================================================
@import 'fonts';
// Подключение шрифтов =================================================================================================

// Иконочные шрифты ====================================================================================================
//@import 'base/icons';
// Иконочные шрифты ====================================================================================================

// Импорты =============================================================================================================
@import 'base/ibg';
@import 'base/colors';
// Импорты =============================================================================================================

// Переменные ==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// Переменные ==========================================================================================================

// Обнуление, общие параметры ==========================================================================================
@import 'base/null';
@import 'base/ui';

body {
	font-family: 'Plus Jakarta Sans';
	font-size: 16px;
	font-weight: 400;
	color: $mainColorText;
}
// Обнуление, общие параметры ==========================================================================================

// Оболочка ============================================================================================================
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

// Основная сетка ======================================================================================================
.container {
	max-width: 1230px; //1200+30 
	padding: 0 15px;
	margin: 0 auto;
}

.page {
	flex: 1 1 auto;
	&__hero {
		@include adaptiv-value('margin-bottom', 170, 30, 1);
	}
	&__features,
	&__services,
	&__reviews {
		@include adaptiv-value('margin-bottom', 200, 40, 1);
	}
	&__location {
		@include adaptiv-value('margin-bottom', 240, 50, 1);
	
	}
}


// Подключаем блоки сайта =================================================================================================
@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/features';
@import 'blocks/services';
@import 'blocks/reviews';
@import 'blocks/location';
@import 'blocks/footer';

// Подключаем блоки сайта =================================================================================================
    
    
//background: url("@img/profile.jpg") 0 0 no-repeat